<div class="btn-group me-3">
	<div class="btn-group" ngbDropdown role="group" [autoClose]="false">
		<button
			type="button"
			class="btn"
			[class]="
				filterState.mode.active ? 'btn-secondary' : 'btn-outline-secondary'
			"
			ngbDropdownToggle
		>
			Mode
		</button>
		<div class="dropdown-menu" ngbDropdownMenu>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				@for (item of modeList; track $index) {
				<button ngbDropdownItem>
					<input
						type="checkbox"
						id="mode-{{ item.key }}"
						[(ngModel)]="item.checked"
						(change)="selectionChanged(modeList)"
					/>
					<pph-mode-badge [mode]="item.key"></pph-mode-badge>
				</button>
				}
			</div>
		</div>
	</div>
	<div class="btn-group" ngbDropdown role="group" [autoClose]="false">
		<button
			type="button"
			class="btn"
			[class]="
				filterState.band.active ? 'btn-secondary' : 'btn-outline-secondary'
			"
			ngbDropdownToggle
		>
			Band
		</button>
		<div class="dropdown-menu" ngbDropdownMenu>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				@for (item of bandList; track $index) {
				<button ngbDropdownItem>
					<input
						type="checkbox"
						id="band-{{ item.key }}"
						[(ngModel)]="item.checked"
						(change)="selectionChanged(bandList)"
					/>
					{{ item.key }}
				</button>
				}
			</div>
		</div>
	</div>
	<div class="btn-group" ngbDropdown role="group" [autoClose]="false">
		<button
			type="button"
			class="btn"
			[class]="
				filterState.scheme.active ? 'btn-secondary' : 'btn-outline-secondary'
			"
			ngbDropdownToggle
		>
			Scheme
		</button>
		<div class="dropdown-menu" ngbDropdownMenu>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				@for (item of awardSchemeList; track $index) {
				<button ngbDropdownItem>
					<input
						type="checkbox"
						id="scheme-{{ item.key }}"
						[(ngModel)]="item.checked"
						(change)="selectionChanged(awardSchemeList)"
					/>
					{{ item.key }}
				</button>
				}
			</div>
		</div>
	</div>
</div>
