<div class="btn-group me-3">
	<div
		class="btn-group"
		ngbDropdown
		role="group"
		[autoClose]="false"
		(openChange)="updateModeFilter($event)"
	>
		<button
			type="button"
			class="btn"
			[class]="
				filterState.mode.active ? 'btn-secondary' : 'btn-outline-secondary'
			"
			ngbDropdownToggle
		>
			Mode
		</button>
		<div class="dropdown-menu" ngbDropdownMenu>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				@for (item of modeList; track $index) {
				<button ngbDropdownItem>
					<input
						type="checkbox"
						id="mode-{{ item.mode }}"
						[(ngModel)]="item.checked"
					/>
					<pph-mode-badge [mode]="item.mode"></pph-mode-badge>
				</button>
				}
			</div>
		</div>
	</div>
	<div
		class="btn-group"
		ngbDropdown
		role="group"
		[autoClose]="false"
		(openChange)="updateBandFilter($event)"
	>
		<button
			type="button"
			class="btn"
			[class]="
				filterState.band.active ? 'btn-secondary' : 'btn-outline-secondary'
			"
			ngbDropdownToggle
		>
			Band
		</button>
		<div class="dropdown-menu" ngbDropdownMenu>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				@for (item of bandList; track $index) {
				<button ngbDropdownItem>
					<input
						type="checkbox"
						id="band-{{ item.band }}"
						[(ngModel)]="item.checked"
					/>
					{{ item.band }}
				</button>
				}
			</div>
		</div>
	</div>
	<div
		class="btn-group"
		ngbDropdown
		role="group"
		[autoClose]="false"
		(openChange)="updateSchemeFilter($event)"
	>
		<button
			type="button"
			class="btn"
			[class]="
				filterState.scheme.active ? 'btn-secondary' : 'btn-outline-secondary'
			"
			ngbDropdownToggle
		>
			Scheme
		</button>
		<div class="dropdown-menu" ngbDropdownMenu>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
				@for (item of schemeList; track $index) {
				<button ngbDropdownItem>
					<input
						type="checkbox"
						id="scheme-{{ item.scheme }}"
						[(ngModel)]="item.checked"
					/>
					{{ item.name }}
				</button>
				}
			</div>
		</div>
	</div>
</div>
