:host {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: #333;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 8px 0;
}

p {
	margin: 0;
}

.pointer {
	cursor: pointer;
}

.spacer {
	flex: 3;
}

.toolbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	display: flex;
	align-items: center;
	background: #003f5c;
	color: white;
	font-weight: 600;

	.connection-status {
		font-weight: normal;
		margin-right: 2em;
	}
}

.toolbar img {
	margin: 0 16px;
}

.toolbar .version {
	padding: 0 16px;

	&:hover {
		cursor: pointer;
	}
}

.toolbar #settings-icon {
	font-size: 1.5em;
	transform: scale 0.2s;
	margin-right: 1em;

	&:hover {
		transform: scale(1.2);
		cursor: pointer;
	}
}

.content {
	margin: 61px 0;
}

footer {
	background-color: #003f5c;
	color: #ddd;

	.fs-5 {
		color: #eee;
	}

	a {
		color: #ddd;

		&:hover {
			color: #ccc;
		}
	}
}

.settings-ddl {
	.dropdown-toggle::after {
		display: none;
	}
}
