<!-- Toolbar -->
<div class="toolbar" role="banner" pphRays>
	<span class="pointer" (click)="navigateHome()">
		<img width="40" alt="Heimdall Logo" src="assets/images/heimdall/icon.png" />
		<span>Parks 'n Peaks :: Heimdall</span>
	</span>
	<div class="spacer"></div>
	<div class="connection-status">
		<pph-connection-status></pph-connection-status>
	</div>
	<div
		class="filter-status"
		[class]="viewModel.filterIsActive ? 'active' : 'inactive'"
	>
		@if( viewModel.filterIsActive ){
		<iconify-icon
			icon="meteor-icons:filter"
			width="24"
			height="24"
			ngbTooltip="Clear filters"
			(click)="clearFilters()"
		></iconify-icon>
		}
	</div>
	<div ngbDropdown class="d-inline-block" dropdownClass="settings-ddl">
		<div class="ddl-toggle" id="dropdownBasic1" ngbDropdownToggle>
			<iconify-icon
				id="settings-icon"
				icon="fluent:settings-20-regular"
			></iconify-icon>
		</div>
		<ul ngbDropdownMenu aria-labelledby="dropdownBasic1">
			<li
				ngbDropdownItem
				class="text-secondary fs-6 text pointer"
				(click)="settingsClick()"
			>
				Settings
			</li>
			<li ngbDropdownItem class="text-secondary fs-6 text">
				<small>
					Try the
					<a
						href="https://white-mud-05eea0610-develop.centralus.3.azurestaticapps.net/spotList"
						target="_"
						>development version</a
					>
				</small>
			</li>
		</ul>
	</div>
</div>

<div class="content" role="main">
	<router-outlet></router-outlet>
</div>

<footer class="py-4 py-md-5 mt-5">
	<div class="container py-4 py-md-5 px-4 px-md-3">
		<div class="row">
			<div class="col-lg-3 mb-3">
				<span class="fs-5">Heimdall</span>
				<ul class="list-unstyled small">
					<li class="mb-2">
						Designed and built with love for the VK and ZL
						<a href="https://parksnpeaks.org/">Parks 'n Peaks</a> community by
						Lance - VK7TO.
					</li>
					<li class="mb-2">
						Code licensed
						<a
							href="https://github.com/twbs/bootstrap/blob/main/LICENSE"
							target="_blank"
							rel="license noopener"
							>MIT</a
						>, docs
						<a
							href="https://creativecommons.org/licenses/by/3.0/"
							target="_blank"
							rel="license noopener"
							>CC BY 3.0</a
						>.
					</li>
					<li class="mb-2">
						<iconify-icon icon="mdi:github"></iconify-icon> Source code
						avialable on
						<a href="https://github.com/RhinoLance/ParksNPeaks_Heimdall/"
							>GitHub</a
						>.
					</li>
					<li class="mb-2">Contibutions via pull requests are welcome.</li>
					<li class="mb-2">
						Bugs and suggestions may be logged on
						<a href="https://github.com/RhinoLance/ParksNPeaks_Heimdall/issues"
							>GitHub Issues</a
						>
					</li>
					<li class="mb-2">Version {{ viewModel.version }}</li>
				</ul>
			</div>
			<div class="col-6 col-lg-2 mb-3"></div>
			<div class="col-6 col-lg-2 offset-lg-1 mb-3">
				<span class="fs-5">Links</span>
				<ul class="list-unstyled small">
					<li class="mb-2">
						<a href="https://parksnpeaks.org/">Parks 'n 'Peaks</a>
					</li>
					<li class="mb-2"><a href="https://sotl.as/">SOTLAS</a></li>
					<li class="mb-2">
						<a href="https://sotawatch.sota.org.uk/">SOTA Watch</a>
					</li>
				</ul>
			</div>
			<div class="col-6 col-lg-2 mb-3">
				<span class="fs-5">Schemes</span>
				<ul class="list-unstyled small">
					<li class="mb-2"><a href="https://www.sota.org.uk/">SOTA</a></li>
					<li class="mb-2">
						<a href="/docs/5.2/examples/starter-template/">WWFF</a>
					</li>
					<li class="mb-2">
						<a href="https://www.wwffaustralia.com/">BOTA</a>
					</li>
					<li class="mb-2"><a href="https://ontheair.nz/about">OTA.NZ</a></li>
					<li class="mb-2"><a href="https://pota.app/">POTA</a></li>
				</ul>
			</div>
			<div class="col-6 col-lg-2 mb-3">
				<span class="fs-5">Community</span>
				<ul class="list-unstyled small">
					<li class="mb-2">
						<a
							href="https://github.com/RhinoLance/ParksNPeaks_Heimdall/discussions"
							>Heimdall discussions</a
						>
					</li>
					<li class="mb-2">
						<a href="https://reflector.sota.org.uk/">SOTA Reflector</a>
					</li>
					<li class="mb-2">
						<a href="https://groups.io/g/OZSOTA/">OZSOTA Groups.io</a>
					</li>
					<li class="mb-2">
						<a href="https://groups.io/g/wwffaustralia">VKFF Groups.io</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer>
