<!-- Toolbar -->
<div class="toolbar" role="banner" pphRays>
	<img width="40" alt="Heimdall Logo" src="assets/images/heimdall/icon.png" />
	<span>Parks 'n Peaks :: Heimdall</span>
	<div class="spacer"></div>
	<div class="settings" (click)="settingsClick()">
		<iconify-icon
			id="settings-icon"
			icon="fluent:settings-20-regular"
		></iconify-icon>
	</div>
	<div class="version">Version: {{ viewModel.version }}</div>
</div>

<div class="content" role="main">
	<router-outlet></router-outlet>
</div>
