<div ngbDropdown class="d-inline-block" dropdownClass="ddl">
	<div class="ddl-toggle" id="dropdownBasic1" ngbDropdownToggle>
		<iconify-icon
			[icon]="
				viewModel.volume > 0 ? 'mdi:bell-outline' : 'mdi:bell-off-outline'
			"
			width="24"
			height="24"
		></iconify-icon>
	</div>
	<ul ngbDropdownMenu aria-labelledby="dropdownBasic1">
		@for( item of viewModel.soundOptions; track $index ) {
		<li ngbDropdownItem (click)="setAlertSound(item)">
			{{ item }}
		</li>
		}
		<div class="dropdown-divider"></div>
		<li class="row">
			<div class="col-3 volume-icon">
				<iconify-icon
					[icon]="viewModel.volumeIcon"
					width="20"
					height="20"
				></iconify-icon>
			</div>

			<div class="col-9 volume-slider">
				<ngx-slider
					[(value)]="viewModel.volume"
					[options]="volumeSliderOptions"
					(userChangeEnd)="volumeChanged($event)"
					(userChange)="volumeChanging($event)"
				></ngx-slider>
			</div>
		</li>
	</ul>
</div>
