body {
	background: #e6e6fa;
}
.card {
	box-shadow: 0 10px 17px 0 rgb(0 0 0 / 5%);
}

.activation-list-images {
	max-height: 108px;
	max-width: 108px;

	.award-icon {
		border-radius: 50%;
		background: #fff;
		background-size: contain;
		background-size: cover;
		background-size: 100%;
		margin: 2px;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
		display: inline-block;
		height: calc(100px / var(--award-count));
		width: calc(100px / var(--award-count));
		_height: 50px;
		_width: 50px;

		&.award-POTA {
			background-image: url("../../../assets/images/classLogo/POTA.jpg");
		}
		&.award-WWFF {
			background-image: url("../../../assets/images/classLogo/WWFF.png");
		}
		&.award-ZLOTA {
			background-image: url("../../../assets/images/classLogo/ZLOTA.jpg");
		}
		&.award-SOTA {
			background-image: url("../../../assets/images/classLogo/SOTA.svg");
		}
		&.award-BOTA {
			background-image: url("../../../assets/images/classLogo/BOTA.png");
		}
	}
}

.time-elapsed-state {
	display: inline-block;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	border-width: 1px;
	margin-right: 0.5em;

	&.active {
		background: #4f772d;
		border-color: #283c17;
	}
	&.shoulder {
		background: #fb8b24;
		border-color: #975316;
	}
	&.inactive {
		background: #9a031e;
		border-color: #5c0212;
	}
}
