body {
	background: #e6e6fa;
}

.no-padding {
	padding: 0;
}

.card {
	box-shadow: 0 10px 17px 0 rgb(0 0 0 / 5%);

	&:hover .action-list {
		visibility: visible;
		transform: scale(1);
		opacity: 1;
		transition-delay: 0.2s;
	}

	.details {
		padding: 1em 1em 1em 1em;

		.callsign {
			margin-bottom: 0;

			a.activator-callsign {
				text-decoration: none;
				color: inherit;

				&:hover {
					color: darkslategray;
				}
			}
		}

		.name {
			padding-bottom: 0.5em;
		}

		.sub-detail-list {
			li::marker {
				font-size: 1.1em;
			}

			.site-name {
				list-style-type: none;
				margin-left: -1.7em;
			}

			.site-id {
				list-style-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox="0 0 8 8"%3E%3Cpath fill="currentColor" d="M4 0C2.34 0 1 1.34 1 3c0 2 3 5 3 5s3-3 3-5c0-1.66-1.34-3-3-3zm0 1a2 2 0 0 1 2 2c0 1.11-.89 2-2 2a2 2 0 1 1 0-4z"%2F%3E%3C%2Fsvg%3E');

				&::marker {
					font-size: 1.7em;
				}
			}

			.time-ago {
				&::marker {
					content: "⬤  ";
				}

				&.active::marker {
					color: #4f772d;
				}

				&.shoulder::marker {
					color: #fb8b24;
				}

				&.inactive::marker {
					color: #9a031e;
				}
			}
		}

		.latest-comment {
			li {
				list-style-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox="0 0 24 24"%3E%3Cpath fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 4H5a2 2 0 0 0-2 2v15l3.467-2.6a2 2 0 0 1 1.2-.4H19a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z"%2F%3E%3C%2Fsvg%3E');

				&::marker {
					font-size: 2em;
				}
			}
		}
	}

	.map-container {
		width: 200px;
		height: 100%;

		border-left: 1px solid #dddddd;
	}

	@media only screen and (max-width: 992px) {
		.details {
			.sub-detail {
				font-size: 0.9em;
			}
		}
	}

	@media only screen and (max-width: 767px) {
		.map {
			width: 100%;
			border-left: none;
			border-top: 1px solid #dddddd;
		}
	}
}

.activation-primary-details {
	display: inline-block;
	padding: 0 1em 0 2em;
}

.activation-list-images {
	max-height: 108px;
	max-width: 108px;
	display: inline-block;

	.award-icon {
		border-radius: 50%;
		background: #fff;
		background-size: contain;
		background-size: cover;
		background-size: 100%;
		margin: 2px;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
		display: inline-block;
		height: calc(100px / var(--award-count));
		width: calc(100px / var(--award-count));
		_height: 50px;
		_width: 50px;

		background-image: url("../../../assets/images/classLogo/Other.png");

		&.award-POTA {
			background-image: url("../../../assets/images/classLogo/POTA.jpg");
		}

		&.award-WWFF {
			background-image: url("../../../assets/images/classLogo/WWFF.png");
		}

		&.award-ZLOTA {
			background-image: url("../../../assets/images/classLogo/ZLOTA.jpg");
		}

		&.award-SOTA {
			background-image: url("../../../assets/images/classLogo/SOTA.svg");
		}

		&.award-BOTA {
			background-image: url("../../../assets/images/classLogo/BOTA.png");
		}
	}
}

.time-elapsed-state {
	display: inline-block;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	border-width: 1px;
	margin-right: 0.5em;

	&.active {
		background: #4f772d;
		border-color: #283c17;
	}

	&.shoulder {
		background: #fb8b24;
		border-color: #975316;
	}

	&.inactive {
		background: #9a031e;
		border-color: #5c0212;
	}
}

.action-list {
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 1;
	white-space: nowrap;

	padding: 0;

	background: rgba(75, 75, 85, 0.1);
	backdrop-filter: blur(2px);
	border-radius: 3px;
	box-shadow: 0 4px 8px rgba(black, 0.3);

	transition: 0.2s;

	&:not(.respot-visible) {
		visibility: hidden;
		opacity: 0;
		transform: scale(0.8);
	}

	.action-item {
		display: inline-block;
		border-radius: 0;

		padding: 0 10px 0 10px;

		&:first-child {
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}

		&:last-child {
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
		}

		&:hover {
			background: rgba(50, 50, 60, 0.8);
			color: #ffffff;
		}
	}

	.vr {
		vertical-align: sub;
	}

	.open-respot.inactive {
		opacity: 0.5;
		cursor: not-allowed;
	}

	.respot {
		display: inline-block;
		vertical-align: middle;
		overflow: hidden;

		transition: max-width 0.25s ease-in-out;

		&.visible {
			max-width: 600px;
		}

		&.hidden {
			max-width: 0;
		}

		pph-respot {
			display: inline-block;
		}

		.btn.cancel:hover {
			color: #a50101;
		}
	}
}
