<div
	class="activation-list-box bookmark-post card mt-4"
	[@lookAtMeAnimation]="viewState.hasUpdates"
>
	<div class="card-body no-padding">
		<div class="row">
			<div class="col details">
				<div class="row">
					<div class="col-auto">
						<div
							class="activation-list-images align-top"
							[style.--award-count]="activation.awardCount"
						>
							<div
								*ngFor="let award of activation.awardList; index as cI"
								href="#"
								[ngClass]="'award-' + award.award"
								class="award-icon"
							></div>
						</div>
						<div class="activation-primary-details">
							<div class="h5 text-muted callsign">
								<a
									[href]="'https://qrz.com/db/' + activation.callsign.root"
									target="_blank"
									class="activator-callsign"
									title="View QRZ.com profile"
								>
									{{ activation.callsign }}
								</a>
							</div>
							<div class="text-muted name">
								<pph-callsign-name
									[callsign]="activation.callsign.root"
								></pph-callsign-name>
							</div>
							<div>
								<span class="h3" class="frequency">{{
									viewState.spot.frequency.toFixed(3)
								}}</span>
								<pph-mode-badge
									class="mode"
									[mode]="viewState.spot.mode"
								></pph-mode-badge>
							</div>
						</div>
					</div>
					<div class="col text-muted sub-detail">
						<ul class="sub-detail-list">
							<li
								[pphCopyToClipboard]="activation.siteName"
								(copied)="onClipboardCopy($event)"
								class="site-name"
							>
								{{ activation.siteName }}
							</li>
							<li
								*ngFor="let site of activation.awardList; index as cI"
								class="site-id"
							>
								<span
									[pphCopyToClipboard]="site.siteId"
									(copied)="onClipboardCopy($event)"
								>
									{{ site.award }}: {{ site.siteId }}
								</span>
							</li>
							<li
								style="margin-top: 5px"
								class="time-ago"
								[ngClass]="viewState.elapsedTimeState"
							>
								<span>{{ viewState.spot.time | timeago : liveTimeAgo }}</span>
								<span>&nbsp;at {{ viewState.spot.shortTime }} (local)</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div style="margin-top: 5px" class="text-muted latest-comment">
						<ul>
							<li>
								<span class="comment">{{ viewState.spot.comment }}</span>
								[<span class="text-muted"
									>de&nbsp;{{ viewState.spot.spotter }}</span
								>]
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-auto">
						<pph-spot-history-card
							[spotList]="viewState.supersededSpotList"
							[expanded]="false"
						></pph-spot-history-card>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-auto">
				<div
					class="map-container"
					*ngIf="viewState.mapStart && viewState.mapEnd"
				>
					<pph-activation-path-map
						*ngIf="viewState.siteDetailsRetrieved"
						[latLngStart]="viewState.mapStart"
						[latLngEnd]="viewState.mapEnd"
						[padding]="15"
					>
					</pph-activation-path-map>
				</div>
			</div>
		</div>

		<div
			class="action-list"
			[class]="viewState.respotIsVisible ? 'respot-visible' : ''"
		>
			<div
				class="open-respot action-item btn"
				[class]="
					pnpClientSvc.hasApiKey && pnpClientSvc.hasUserId ? '' : 'inactive'
				"
				(click)="showReSpot()"
				#tooltip="matTooltip"
				[matTooltip]="
					pnpClientSvc.hasApiKey && pnpClientSvc.hasUserId
						? 'Re-spot'
						: 'To respot, you must first set your Parks \'n Peaks details in settings.'
				"
				matTooltipShowDelay="500"
			>
				<iconify-icon icon="ph:megaphone"></iconify-icon>
			</div>
			<div
				class="respot"
				[class]="viewState.respotIsVisible ? 'visible' : 'hidden'"
				[@respotSuccess]="viewState.respotSuccess"
				(@respotSuccess.done)="respotSuccessAnimDone()"
			>
				<pph-respot
					[spot]="viewState.respot"
					(respotSent)="onRespotSent($event)"
				></pph-respot>

				<div
					class="btn cancel"
					(click)="hideRespot()"
					#tooltip="matTooltip"
					matTooltip="Cancel"
					matTooltipShowDelay="500"
				>
					<iconify-icon icon="ic:round-cancel"></iconify-icon>
				</div>
				<div class="vr"></div>
			</div>
			<div
				class="action-item btn"
				(click)="
					hideActivation(__activationVisiblility.HiddenPendingNewBandOrMode)
				"
				#tooltip="matTooltip"
				matTooltip="Hide until band or mode change"
				matTooltipShowDelay="500"
			>
				<iconify-icon icon="bx:hide"></iconify-icon>
			</div>
			<div class="vr"></div>
			<div
				class="action-item btn"
				(click)="hideActivation(__activationVisiblility.Hidden)"
				#tooltip="matTooltip"
				matTooltip="Don't show this activation"
				matTooltipShowDelay="500"
			>
				<iconify-icon icon="typcn:delete-outline"></iconify-icon>
			</div>
		</div>
	</div>
</div>
