<div
	@hideActivationAnimation
	*ngIf="activation !== null && viewState.hideState === HideState.Visible"
	class="activation-list-box bookmark-post card mt-4"
>
	<div class="p-4 card-body">
		<div class="align-items-center row">
			<div class="col-md-2">
				<div
					class="activation-list-images"
					[style.--award-count]="activation.awardCount"
				>
					<div
						*ngFor="let award of activation.awardList; index as cI"
						href="#"
						[ngClass]="'award-' + award.award"
						class="award-icon"
					></div>
				</div>
			</div>
			<div class="col-md-2">
				<div class="activation-list-content mt-3 mt-lg-0">
					<div class="h5 text-muted">
						{{ activation.callsign }}
					</div>
					<div>
						<span class="h3" class="frequency">{{
							viewState.spot.frequency.toFixed(3)
						}}</span>
						<pph-mode-badge
							class="mode"
							[mode]="viewState.spot.mode"
						></pph-mode-badge>
					</div>
				</div>
			</div>
			<div class="col text-muted">
				<div *ngFor="let site of activation.awardList; index as cI">
					<iconify-icon icon="octicon:location-16"></iconify-icon>
					<span
						[pphCopyToClipboard]="site.siteId"
						(copied)="onClipboardCopy($event)"
					>
						{{ site.siteId }}: {{ site.award }}
					</span>
				</div>
				<div
					[pphCopyToClipboard]="activation.siteName"
					(copied)="onClipboardCopy($event)"
				>
					{{ activation.siteName }}
				</div>
				<div style="margin-top: 5px" class="comment">
					<span>{{ viewState.spot.comment }}</span>
					[<span class="h6">de&nbsp;{{ viewState.spot.spotter }}</span
					>]
				</div>
				<div style="margin-top: 5px">
					<div
						class="time-elapsed-state"
						[ngClass]="viewState.elapsedTimeState"
					></div>
					<span>{{ viewState.spot.time | timeago : liveTimeAgo }}</span>
					<span>&nbsp;at {{ viewState.spot.shortTime }} (local)</span>
				</div>
			</div>
		</div>
		<div class="align-items-center row">
			<div class="col-auto">
				<pph-spot-history-card
					[spotList]="viewState.supersededSpotList"
					[expanded]="false"
				></pph-spot-history-card>
			</div>
		</div>
	</div>
	<div class="action-list">
		<div
			class="action-item btn"
			(click)="reSpot()"
			#tooltip="matTooltip"
			matTooltip="Re-spot"
			matTooltipShowDelay="500"
		>
			<iconify-icon icon="ph:megaphone"></iconify-icon>
		</div>
		<div
			class="respot"
			[@toggleRespot]="viewState.respotIsVisible ? 'visible' : 'hidden'"
		>
			<pph-respot [spot]="viewState.respot"></pph-respot>
			<div
				class="btn send"
				(click)="reSpot()"
				#tooltip="matTooltip"
				matTooltip="Send"
				matTooltipShowDelay="500"
			>
				<iconify-icon icon="bi:send-fill"></iconify-icon>
			</div>
			<div
				class="btn cancel"
				(click)="viewState.respotIsVisible = false"
				#tooltip="matTooltip"
				matTooltip="Cancel"
				matTooltipShowDelay="500"
			>
				<iconify-icon icon="ic:round-cancel"></iconify-icon>
			</div>
			<div class="vr"></div>
		</div>
		<div
			class="action-item btn"
			(click)="hideActivation(HideState.Spot)"
			#tooltip="matTooltip"
			matTooltip="Hide until band or mode change"
			matTooltipShowDelay="500"
		>
			<iconify-icon icon="bx:hide"></iconify-icon>
		</div>
		<div class="vr"></div>
		<div
			class="action-item btn"
			(click)="hideActivation(HideState.Activation)"
			#tooltip="matTooltip"
			matTooltip="Don't show this activation"
			matTooltipShowDelay="500"
		>
			<iconify-icon icon="typcn:delete-outline"></iconify-icon>
		</div>
	</div>
</div>
