body {
	background: #e6e6fa;
}
.card {
	box-shadow: 0 10px 17px 0 rgb(0 0 0 / 5%);
}

.activation-list-images {
	max-height: 108px;
	max-width: 108px;

	.award-icon {
		border-radius: 50%;
		background: #fff;
		background-size: contain;
		background-size: cover;
		background-size: 100%;
		margin: 2px;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
		display: inline-block;
		height: calc(100px / var(--award-count));
		width: calc(100px / var(--award-count));
		_height: 50px;
		_width: 50px;

		&.award-POTA {
			background-image: url("../../../assets/images/classLogo/POTA.jpg");
		}
		&.award-WWFF {
			background-image: url("../../../assets/images/classLogo/WWFF.png");
		}
		&.award-ZLOTA {
			background-image: url("../../../assets/images/classLogo/ZLOTA.jpg");
		}
		&.award-SOTA {
			background-image: url("../../../assets/images/classLogo/SOTA.svg");
		}
		&.award-BOTA {
			background-image: url("../../../assets/images/classLogo/BOTA.png");
		}
	}
}

.time-elapsed-state {
	display: inline-block;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	border-width: 1px;
	margin-right: 0.5em;

	&.active {
		background: #4f772d;
		border-color: #283c17;
	}
	&.shoulder {
		background: #fb8b24;
		border-color: #975316;
	}
	&.inactive {
		background: #9a031e;
		border-color: #5c0212;
	}
}

.avatar-md {
	height: 5rem;
	width: 5rem;
}

.fs-19 {
	font-size: 19px;
}

.primary-link {
	color: #314047;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

a {
	color: #02af74;
	text-decoration: none;
}

.bookmark-post .favorite-icon a,
.job-box.bookmark-post .favorite-icon a {
	background-color: #da3746;
	color: #fff;
	border-color: danger;
}
.favorite-icon a {
	display: inline-block;
	width: 30px;
	height: 30px;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #eff0f2;
	border-radius: 6px;
	color: rgba(173, 181, 189, 0.55);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.activation-list-box .favorite-icon {
	position: absolute;
	right: 22px;
	top: 22px;
}
.fs-14 {
	font-size: 14px;
}
.bg-soft-secondary {
	background-color: rgba(116, 120, 141, 0.15) !important;
	color: #74788d !important;
}

.mt-1 {
	margin-top: 0.25rem !important;
}

.timeline {
	display: table;
	width: 90%;
	position: relative;
}

.timeline > li:before {
	content: "";
	position: absolute;
	left: 5px;
	right: 5px;
	height: 3px;
	background: #cccccc;
	_left: 20%;
	_margin-left: -2.5px;
}

.timeline > li {
	display: table-cell;
	border: 3px solid orange;
	list-style-position: inside;
}

.timeline .timeline-time {
	position: absolute;
	left: -5px;
	text-align: right;
	top: 30px;
}

.timeline .timeline-time .date,
.timeline .timeline-time .time {
	display: block;
	font-weight: 600;
}

.timeline .timeline-time .date {
	line-height: 16px;
	font-size: 12px;
}

.timeline .timeline-time .time {
	line-height: 24px;
	font-size: 20px;
	color: #242a30;
}

.timeline .timeline-icon {
	text-align: center;
	position: absolute;
	top: -10px;
}

.timeline .timeline-icon a {
	text-decoration: none;
	width: 14px;
	height: 14px;
	display: inline-block;
	border-radius: 20px;
	background: #ffffff;
	line-height: 10px;
	color: #fff;
	font-size: 14px;
	border: 3px solid #cccccc;
	transition: border-color 0.2s linear;
}
