.timeline.collapsed,
.timeline.inline{
	li {
		position: relative;
		min-height: 0px;
		padding: 20px 0;
		float: left;
		width: 100px;
		list-style-position: inside;

		.timeline-icon {
			left: 44px;
			top: -7px;
		}
	
		.timeline-body {
			display: none;
		}
	}

	li:not(:first-child):not(:last-child) {
		list-style-position: inside;
		border-top: 3px solid #cccccc;
		border-left: none;		

		.timeline-icon {
			top: -9px;
			left: 50%;
		}
	}

	li:first-child:before,
	li:last-child:before {
		left:"50%";
		height: 3px;
		list-style-position: inside;
		border-top: 3px solid #cccccc;
		position: absolute;
		
		width: 50px;

	}

	li:first-child:before {
		left: 50%;
		top: 0;
	}
	
	li:last-child:before {
		top: 0;
		right: 50%;
	}
	
}

.timeline.inline {
	li {
		.timeline-body {
			display: block;
		}
	}
}

.timeline.collapsed{
	li {
		position: relative;
		min-height: 0px;
		padding: 20px 0;
		float: left;
		width: 100px;
		list-style-position: inside;

		.timeline-icon {
			left: 44px;
			top: -7px;
		}
	
		.timeline-body {
			display: none;
		}
	}

	li:not(:first-child):not(:last-child) {
		list-style-position: inside;
		border-top: 3px solid #cccccc;
		border-left: none;		

		.timeline-icon {
			top: -9px;
			left: 50%;
		}
	}

	li:first-child:before,
	li:last-child:before {
		left:"50%";
		height: 3px;
		list-style-position: inside;
		border-top: 3px solid #cccccc;
		position: absolute;
		
		width: 50px;

	}

	li:first-child:before {
		left: 50%;
		top: 0;
	}
	
	li:last-child:before {
		top: 0;
		right: 50%;
	}
	
	
}

.timeline {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;

	.timeline-body {
		transition: display 4s;
	}


	li {
		position: relative;
		min-height: 50px;
		padding: 20px 0;
	}

	li:not(:first-child):not(:last-child) {
		list-style-position: inside;
		border-left: 3px solid #cccccc;

		.timeline-icon {
			left: -8px;
		}
	}

	li:first-child:before,
	li:last-child:before {
		content: "";
		left:"50%";
		width: 3px;
		list-style-position: inside;
		border-left: 3px solid #cccccc;
		position: absolute;
	}

	li:first-child:before {
		top: 50%;
		bottom: 0;
	}
	
	li:last-child:before {
		top: 0;
		bottom: 50%;
	}
	
	.timeline-icon {
		position: absolute;
		text-align: center;
		top: 47px;
		left: -5px;
	}

	.timeline-icon:hover {
		width: 24px;
		height: 24px;
	}

	.timeline-icon{
		text-decoration: none;
		width: 14px;
		height: 14px;
		display: inline-block;
		border-radius: 20px;
		background: #ffffff;
		line-height: 10px;
		color: #fff;
		font-size: 14px;
		border: 3px solid #cccccc;
		transition: border-color 0.2s linear;
	}

	.timeline-body {
		width: 100%;
		position: relative;
		padding: 20px 0 0 25px;
	}

}






.timeline .timeline-time {
	position: absolute;
	left: -5px;
	text-align: right;
	top: 30px;
}

.timeline .timeline-time .date,
.timeline .timeline-time .time {
	display: block;
	font-weight: 600;
}

.timeline .timeline-time .date {
	line-height: 16px;
	font-size: 12px;
}

.timeline .timeline-time .time {
	line-height: 24px;
	font-size: 20px;
	color: #242a30;
}

.timeline .timeline-body > div + div {
	margin-top: 15px;
}

.timeline .timeline-body > div + div:last-child {
	margin-bottom: -20px;
	padding-bottom: 20px;
	border-radius: 0 0 6px 6px;
}

.timeline-content {
	letter-spacing: 0.25px;
	line-height: 18px;
	font-size: 13px;
}

.timeline-content:after,
.timeline-content:before {
	content: "";
	display: table;
	clear: both;
}

.timeline-title {
	margin-top: 0;
}

.timeline-footer {
	background: #fff;
	border-top: 1px solid #e2e7ec;
	padding-top: 15px;
}

.timeline-footer a:not(.btn) {
	color: #575d63;
}

.timeline-footer a:not(.btn):focus,
.timeline-footer a:not(.btn):hover {
	color: #2d353c;
}

.text-danger,
.text-red {
	color: #ff5b57 !important;
}
