.timeline {
	--clock-size: 5em;
	--circle-size: 0.4em;
	--collapsed-spacing: 7em;

	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	font-size: 0.4em;
	//border: 2px dashed orangered;

	&:hover {
		cursor: pointer;
	}

	li {
		position: relative;
		list-style-position: inside;

		.timeline-icon {
			position: absolute;
			background: #ffffff;
		}

		.timeline-icon:not(:first-child) {
			width: 2em;
			height: 2em;
			border-radius: 20px;
			border: 3px solid #cccccc;
		}

		.timeline-icon:first-child {
			font-size: var(--clock-size);
			color: #cccccc;
			font-weight: bold;
			width: 1em;
			height: 1em;
		}

		&:first-child:before,
		&:last-child:before {
			content: "";
			position: absolute;
			list-style-position: inside;
			border: solid #cccccc;
		}
	}
}

.timeline.collapsed {
	overflow: hidden;
	height: var(--clock-size);

	li {
		min-height: 0px;
		padding: 20px 0;
		float: left;
		width: var(--collapsed-spacing);
		margin: calc(var(--clock-size) / 2) 0 0 0;

		.timeline-icon {
			left: calc((var(--collapsed-spacing) / 2) - 1em);
		}

		.timeline-body {
			display: none;
		}

		&:not(:first-child):not(:last-child) {
			border-top: 3px solid #cccccc;

			.timeline-icon {
				top: calc(-1em - 1.5px);
			}
		}

		&:first-child:before,
		&:last-child:before {
			left: 50%;
			height: 3px;
			border-top: 3px;
			width: 50%;
		}

		&:first-child {
			.timeline-icon {
				top: -0.75em;
				left: -6px;

				i {
					position: absolute;
					left: 6px;
				}
			}

			&:before {
				left: 50%;
				top: 0;
			}
		}

		&:last-child {
			.timeline-icon {
				top: calc(-1em + 1.5px);
			}

			&:before {
				top: 0;
				left: 0;
			}
		}
	}
}

.timeline.expanded {
	.timeline-body {
		transition: display 4s;
	}

	li {
		.timeline-icon {
			top: calc(50% - 0.5em);
		}

		.timeline-body {
			width: 100%;
			position: relative;
			padding: 20px 0 0 25px;
		}

		&:not(:first-child):not(:last-child) {
			border-left: 3px solid #cccccc;

			.timeline-icon {
				left: calc(-1em - 1.5px);
			}
		}

		&:first-child:before,
		&:last-child:before {
			left: 50%;
			width: 3px;
			border-left: 3px;
			height: 50%;
		}

		&:first-child {
			.timeline-icon {
				left: calc(-0.5em + 1.5px);
				top: -50%;

				i {
					position: absolute;
					top: 2px;
				}
			}

			&:before {
				left: 0;
				top: 50%;
				min-height: var(--clock-size);
			}
		}

		&:last-child {
			.timeline-icon {
				left: calc(-1em + 1.5px);
			}

			&:before {
				top: 0;
				left: 0;
			}
		}
	}
}

.timeline .timeline-time {
	position: absolute;
	left: -5px;
	text-align: right;
	top: 30px;
}

.timeline .timeline-time .date,
.timeline .timeline-time .time {
	display: block;
	font-weight: 600;
}

.timeline .timeline-time .date {
	line-height: 16px;
	font-size: 12px;
}

.timeline .timeline-time .time {
	line-height: 24px;
	font-size: 20px;
	color: #242a30;
}

.timeline .timeline-body > div + div {
	margin-top: 15px;
}

.timeline .timeline-body > div + div:last-child {
	margin-bottom: -20px;
	padding-bottom: 20px;
	border-radius: 0 0 6px 6px;
}

.timeline-content {
	letter-spacing: 0.25px;
	line-height: 18px;
	font-size: 13px;
}

.timeline-content:after,
.timeline-content:before {
	content: "";
	display: table;
	clear: both;
}

.timeline-title {
	margin-top: 0;
}

.timeline-footer {
	background: #fff;
	border-top: 1px solid #e2e7ec;
	padding-top: 15px;
}

.timeline-footer a:not(.btn) {
	color: #575d63;
}

.timeline-footer a:not(.btn):focus,
.timeline-footer a:not(.btn):hover {
	color: #2d353c;
}

.text-danger,
.text-red {
	color: #ff5b57 !important;
}
