:host {
	display: flex;
	flex-wrap: nowrap;
	gap: 10px;
}

.field {
	display: inline-block;
}

.form-control {
	padding: 0;
}

.frequency {
	width: 7em;
}

.comment {
	min-width: 20em;

	#commentInput {
		width: 100%;
	}
}

.dropdown {
	position: initial;

	.dropdown-toggle::after {
		content: none;
	}
}

.field,
.field:not(:last-child) {
	margin-right: 5px;
}
