:host {
	display: flex;
	flex-wrap: nowrap;
	gap: 10px;
}

.field {
	display: inline-block;
}

.form-control {
	padding: 0;
}

.frequency {
	width: 7em;
}

.dropdown-toggle::after {
	content: none;
}

.field,
.field:not(:last-child) {
	margin-right: 5px;
}
