<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
	integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc="
	crossorigin="anonymous"
/>
<section class="section">
	<div class="container">
		<ng-container #noActivations>
			<pph-no-spots [hidden]="viewState.visibleActivationCount > 0">
			</pph-no-spots>
		</ng-container>

		<ng-container #hasActivations>
			<div class="row">
				<pph-activation
					*ngFor="let activation of viewState.activationList; index as cI"
					[activation]="activation"
					(shown)="onActivationShow()"
					(hiden)="onActivationHide()"
				>
				</pph-activation>
			</div>
		</ng-container>
	</div>
</section>
