.container {
	.background {
		position: fixed;
		top: 61px;
		left: 61px;
		height: 100vh;
		width: 100vw;

		background-image: url(../../../assets/images/heimdall/logo.png);
		background-size: contain; /* <------ */
		background-repeat: no-repeat;
		background-position: center center; /* optional, center the image */
	}
}
